.bookListing-container {
  padding: 45px 15px;

  .search-bar {
    width: auto;
  }

  .search-add-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
}
